<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyPeanut</display-name>
  <welcome-file-list>
    <welcome-file>UserMain.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NoticeController</display-name>
    <servlet-name>NoticeController</servlet-name>
    <servlet-class>work.controller.NoticeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>work.controller.EmployeeController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeController</servlet-name>
    <url-pattern>/NoticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>work.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirplaneController</display-name>
    <servlet-name>AirplaneController</servlet-name>
    <servlet-class>work.controller.AirplaneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirplaneController</servlet-name>
    <url-pattern>/AirplaneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilghtController</display-name>
    <servlet-name>FilghtController</servlet-name>
    <servlet-class>work.controller.FilghtController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilghtController</servlet-name>
    <url-pattern>/FilghtController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightController</display-name>
    <servlet-name>FlightController</servlet-name>
    <servlet-class>work.controller.FlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightController</servlet-name>
    <url-pattern>/FlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressController</display-name>
    <servlet-name>AddressController</servlet-name>
    <servlet-class>work.controller.AddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressController</servlet-name>
    <url-pattern>/AddressController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>work.controller.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>work.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>work.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/BoardController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>work.controller.InitServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AirController</display-name>
    <servlet-name>AirController</servlet-name>
    <servlet-class>work.controller.AirController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirController</servlet-name>
    <url-pattern>/AirController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketController</display-name>
    <servlet-name>TicketController</servlet-name>
    <servlet-class>work.controller.TicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketController</servlet-name>
    <url-pattern>/TicketController</url-pattern>
  </servlet-mapping>
</web-app>